Q1) Python program to print all odd numbers in a list.

In [28]:
#Python program to print all odd numbers in a list.

list_numbers=list(map(int,input('Enter elements of list: ').split()))

#Creating two empty lists
Odd_number=[]
Even_number=[]

for i in list_numbers:
    if i%2!=0:
        Odd_number.append(i)
    else:
        Even_number.append(i)

print("List of odd number is: ", Odd_number)
print("List of even number is: ", Even_number)

Enter elements of list: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
List of odd number is:  [1, 3, 5, 7, 9, 11, 13, 15]
List of even number is:  [2, 4, 6, 8, 10, 12, 14]

Q2) Python program to find the sum of list elements.

In [4]:
#Python program to find the sum of list elements.
numbers_list=[]
p=int(input("Enter list size"))

print("\n")
for i in range (0,p):
  print("Enter no. at index ",i)
  num=int(input())
  numbers_list.append(num)

print("User list is" ,numbers_list)
("\n")
print("Sum of numbers: ")
print(sum(numbers_list))

Enter list size8


Enter no. at index  0
1
Enter no. at index  1
12
Enter no. at index  2
34
Enter no. at index  3
45
Enter no. at index  4
52
Enter no. at index  5
64
Enter no. at index  6
78
Enter no. at index  7
86
User list is [1, 12, 34, 45, 52, 64, 78, 86]
Sum of numbers:
372

Q3) Python program to reverse a list in two ways.

In [2]:
#Python program to reverse a list in two ways.
item_list=[]
p=int(input(" Enter list size"))

print("\n")
for i in range (0,p):
  print("Enter item at index ",i, )
  item=input()
  item_list.append(item)

print("User list is" ,item_list)
print("The reverse list is: ")
item_list.reverse()
print(item_list)

print("\n""Second method to reverse list using slicing: ")
item_list[-1],item_list[0]=item_list[0],item_list[-1]
print(item_list)

 Enter list size10


Enter item at index  0
milk
Enter item at index  1
yogurt
Enter item at index  2
cereals
Enter item at index  3
grain
Enter item at index  4
pulses
Enter item at index  5
wheat
Enter item at index  6
rice
Enter item at index  7
spices
Enter item at index  8
sugar
Enter item at index  9
porridge
User list is ['milk', 'yogurt', 'cereals', 'grain', 'pulses', 'wheat', 'rice', 'spices', 'sugar', 'porridge']
The reverse list is:
['porridge', 'sugar', 'spices', 'rice', 'wheat', 'pulses', 'grain', 'cereals', 'yogurt', 'milk']

Second method to reverse list using slicing:
['milk', 'sugar', 'spices', 'rice', 'wheat', 'pulses', 'grain', 'cereals', 'yogurt', 'porridge']

Q4) Python program to find the top two maximum
numbers in a list.

In [2]:
#Python program to find the top two maximum numbers in a list.

num_list=[]
x=int(input("Enter list size: "))

print("\n")

for r in range (0,x):
  print("Enter no. at index ",r)
  num=int(input())
  num_list.append(num)

print("User list is: ",num_list )
print("The sorted list is: ")
num_list.sort()
print(num_list)
("\n")
print("The maximum number in list is: ", num_list[4])
print("The second maximum number in list is: ", num_list[3])

Enter list size: 5


Enter no. at index  0
12
Enter no. at index  1
34
Enter no. at index  2
5
Enter no. at index  3
9
Enter no. at index  4
64
User list is:  [12, 34, 5, 9, 64]
The sorted list is:
[5, 9, 12, 34, 64]
The maximum number in list is:  64
The second maximum number in list is:  34

Q5) Write a program in Python to find the second highest
number in an integer list.

In [ ]:
#Write a program in Python to find the second highest number in an integer list.

numb_list=[]
x=int(input("Enter list size"))

print("\n")

for r in range (0,x):
  print("Enter no. at index ",r)
  num=int(input())
  numb_list.append(num)

print("User list is: ",numb_list )
print("The sorted list is: ")
numb_list.sort()
print(numb_list)
("\n")
print("The second highest number in list is: ", numb_list[3])

Enter list size5


Enter no. at index  0
23
Enter no. at index  1
67
Enter no. at index  2
54
Enter no. at index  3
78
Enter no. at index  4
99
User list is:  [23, 67, 54, 78, 99]
The sorted list is:
[23, 54, 67, 78, 99]
The second highest number in list is:  78

Q6) Python program to sort characters in descending
order.

In [11]:
#Python program to sort characters in descending order.

item_list=[]
p=int(input(" Enter list size"))

print("\n")
for i in range (0,p):
  print("Enter item at index ",i, )
  item=input()
  item_list.append(item)

print("User list is" ,item_list)
print("\nThe sort list is: ")
item_list.sort()
print(item_list)

print(item_list.reverse())
print("Items in descending order are: ", item_list)

 Enter list size5


Enter item at index  0
juice
Enter item at index  1
milkshake
Enter item at index  2
falooda
Enter item at index  3
pepsi
Enter item at index  4
milk
User list is ['juice', 'milkshake', 'falooda', 'pepsi', 'milk']

The sort list is:
['falooda', 'juice', 'milk', 'milkshake', 'pepsi']
None
Items in descending order are:  ['pepsi', 'milkshake', 'milk', 'juice', 'falooda']

Q7) Python program to remove repeated characters from a
string.

In [ ]:
#Python program to remove repeated characters from a string.
list_num=[1,1,3,3,3,3,9,6,7,8,7,5,4]
print("The list after removal of repeated numbers is: ")
list_num_final=set(list_num)
print(list(list_num_final))

The list after removal of repeated numbers is:
[1, 3, 4, 5, 6, 7, 8, 9]

Q8) Python program to check if a given character is a
vowel or consonant.

In [ ]:
# Python program to chack if a given character is a vowel or a consonant.
#taking input alphabet from user
alphabet=input("Enter a alphabet: ")

if(alphabet=='A'or alphabet=='a'or alphabet=='E' or alphabet=='e'or alphabet=='I'or alphabet=='i' or alphabet=='O' or alphabet=='o' or alphabet=='U' or alphabet=='u'):
     print(alphabet," alphabet is a vowel")
else:
   print(alphabet, "alphabet is a consonant")

Enter a alphabet: g
g alphabet is a consonant

Q9) Python Program to calculate factorial.

In [7]:
#Python program to calculate factorial.

num=int(input("Enter a number: "))
factorial = 1
if num<0:
  print("No factorial")
elif num==0:
  print("Zero factorial is 1")
else:
  for i in range(1, num+1):
      factorial = factorial*i
  print("The factorial of", num, "=", factorial)

Enter a number: 4
The factorial of 4 = 24

Q10) Python Program to merge two lists.

In [ ]:
#Python program to merge two lists.
list_1=['cup','table','chair','sofa']
list_2=['cake','honey','biscuit','pizza']
#merging list
list_3=list_1+list_1
print(list_3)

['cup', 'table', 'chair', 'sofa', 'cake', 'honey', 'biscuit', 'pizza']